@media (min-width:992px) {
    .header-wrapper {
        border-radius: 50px;
        background-color: #d40d02;
    }
    .right-box .social {
        margin-right: 25px;
    }
}

.right-box .social a {
    border-radius: 0px 50px 50px 0px;
    background-color: #ffffff;
}

.header-wrapper {
    background-color: #d40d02;
}

.right-box .social a:hover i {
    color: #da1313;
}

.right-box .call-us .icon i {
    background-color: #ffffff;
}

.right-box .call-us:hover .icon i {
    color: #da1313;
}

.right-box .call-us-text span,
.right-box .call-us-text a {
    color: #ffffff;
    
}
/*Star testimonia Background*/
.left-testimonials-bg{
	background: #008000;
	padding: 20px;
}
.right-testimonials-bg{
	background: #ff0000;
	padding: 20px;

}
/*End Testimonia Background*/

/*Start Featured News and Events*/
.boxedit{
   
    width: 565px !important;
    margin-bottom: 20px;
    

}
.articlesMidLeft{
    height: auto !important;
    width: 30% !important;
    display: flex !important;
    float: left;
    padding: 5px;
}
.articlesMidRight{
   
    padding: 5px;
}

/*Affliation*/
.affiliation{
    background-image: url(../images/affiliation/Affliation-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* slider */

.slider-head strong {
    line-height: 1.2;
}

.news-bg{
	background:  #C0C0C0;
}