@media (min-width:992px) {
    .header-wrapper {
        border-radius: 50px;
        background-color: #d40d02;
    }

    .right-box .social {
        margin-right: 25px;
    }
}

body {
    color: #2e2e2e;

    font-family: 'Montserrat', sans-serif;
}

.right-box .social a {
    border-radius: 0px 50px 50px 0px;
    background-color: #ffffff;
}

.header-wrapper {
    background-color: #d40d02;
}

.right-box .social a:hover i {
    color: #da1313;
}

.right-box .call-us .icon i {
    background-color: #ffffff;
}

.right-box .call-us:hover .icon i {
    color: #da1313;
}

.right-box .call-us-text span,
.right-box .call-us-text a {
    color: #ffffff;

}

/*Star testimonia Background*/
.left-testimonials-bg {
    background: #008000;
    padding: 20px;
}

.right-testimonials-bg {
    background: #ff0000;
    padding: 20px;

}

/*End Testimonia Background*/

/*Start Featured News and Events*/
.boxedit {

    width: 565px !important;
    margin-bottom: 20px;


}

.articlesMidLeft {
    height: auto !important;
    width: 30% !important;
    display: flex !important;
    float: left;
    padding: 5px;
}

.articlesMidRight {

    padding: 5px;
}

/*Affliation*/
.affiliation {
    background-image: url(../images/affiliation/Affliation-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* slider */

.slider-head strong {
    line-height: 1.2;
}

.news-bg {
    background: #ffffff;
}

/*stat*/
.fun-fact {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -moz-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    padding: 30px 20px;
    background-image: url(https://www.osclbd.com/public/frontend/assets/img/banner/2.jpg);
}

.fun-fact .icon i {
    color: #fff;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.fun-fact .info {
    padding-left: 20px;
}

.fun-fact .info .timer {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
    line-height: 1.2;
}

.fun-fact .info span {
    display: block;
    font-family: "Poppins", sans-serif;
}

.fun-fact .info .medium {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}

.fun-factor-area.default-padding.bottom-less {
    padding-bottom: 40px;
}

.shadow {
    position: relative;
    z-index: 1;
}

.default-padding.bottom-less {
    padding-top: 80px;
    padding-bottom: 50px;
}

.fun-factor-area .item {
    margin-bottom: 40px;
}

.fun-fact .info span {
    display: block;
    font-family: "Poppins", sans-serif;
}

#secondary .widget {
    box-shadow: 0 2px 8px rgba(59, 64, 69, 0.1);
    padding: 0px 25px 25px 25px;
    background-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    background-color: #fff;
}

#secondary .widget-title {
    color: #121111;
    margin: 12px -15px 15px;
    padding: 5px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom: 2px solid #0371e1;
}

#secondary .widget ul li,
#secondary .widget ol li {
    padding: 0.4em 0;
}

.course-content {

    padding: 10px;
}

.single-property .bottom-content p::after {
    content: "" !important;

}

.section-title {
    text-align: center;
    position: relative;
    margin: -8px auto 60px;
}

.section-title span {
    color: #CC6E29;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.two-part-area:before {
    opacity: 85%;
}

.contentItems {
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .1);
    background-color: #ffffff;
    padding: 30px 15px;
}

.statistics-box {
    box-shadow: 0px 13px 45px 0px rgba(114, 114, 114, 0.16);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    transition: all .3s;
    border-radius: 13px;
    background: #fff;
    color: rgb(90, 86, 86);
}

.statistics-box:hover {
    content: "";
    background: green;
    color: #fff;
}

.statistics-box i {
    font-size: 40px;
}

.statistics-box .number {
    font-size: 26px;
    font-weight: 900;
    margin: 8px 0px;
}

.background-one {
    background-color: rgb(245, 214, 214);
}

.background-two {
    background-color: rgb(152, 228, 152);
}
/*CSS add By Arif*/
.aboutusCard{
padding: 10px;
}
/*End*/

input[type="tel"] {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
input[type="tel"]:focus {
  border: 1px solid #000;
}

input[type="submit"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}

form {
  width: 50%;
  margin: 0 auto;
}

.p {
  padding-top: 30px;
}