.header-wrapper {
    border-radius: 50px;
    background-color: #d40d02;
}

.right-box .social {
    margin-right: 25px;
}

.right-box .social a {
    border-radius: 0px 50px 50px 0px;
    background-color: #ffffff;
}

.right-box .social a:hover i {
    color: #da1313;
}

.right-box .call-us .icon i {
    background-color: #ffffff;
}

.right-box .call-us:hover .icon i {
    color: #da1313;
}

.right-box .call-us-text span,
.right-box .call-us-text a {
    color: #ffffff;
}


/* slider */

.slider-head strong {
    line-height: 1.2;
}